html, body{
	margin: 0;
	padding: 0;
}
.text{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.main_bg{
	opacity:0.2;
	z-index:0;
}
.title{
	color: #b21919;
	font-size: 4.0em;
	font-family: "Poppins_Extra_Bold", Arial, sans-serif;
}
.link_principal:link{
	color: #b21919;
}
.link_principal:visited{
	color: #9c1616;
}
.link_principal:hover{
	color: #861313;
}
.link_principal:selected{
color: #b21919;
}
.centered{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
