@font-face{
	font-family: "Poppins";
	src: url("assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Poppins_Bold";
	src: url("assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Poppins_Extra_Bold";
	src: url("assets/fonts/poppins/Poppins-Extra-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
html, body{
	margin: 0;
	padding: 0;
}
.text{
	font-family: "Poppins", Arial, sans-serif;	
}
.global_header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: #b21919;
	padding: 10px 20px;
	color: Black;
}
.main_bg{
	opacity:0.2;
	z-index:0;
}
.title{
	color: #b21919;
	font-size: 4.0em;
	font-family: "Poppins_Extra_Bold", Arial, sans-serif;
}
.link_principal:link{
	color: #b21919;
}
.link_principal:visited{
	color: #9c1616;
}
.link_principal:hover{
	color: #861313;
}
.link_principal:selected{
	color: #b21919;
}
.centered{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.search_bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 25px;
}

.search_bar button {
    padding: 6px 10px;
    background: white;
    color: green;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search_bar button i {
    font-size: 18px;
}

.search_bar button:hover {
    background: darkgreen;
    color: white;
}
.menu-container {
    position: relative;
}

.menu-container {
    position: relative;
}

.hamburguer_button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
}
.line {
    background-color: #333;
    height: 4px;
    width: 100%;
    margin: 3px 0;
    transition: all 0.3s ease;
}
.hamburguer_menu {
	display: none; /* Esconde o menu por padrão */
	position: absolute;
	background-color: #b21919;
	border: 0px solid black;
	border-radius: 0px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position:absolute;
	top: 14%;
	bottom: 0%;
	left: 0.0%;
	right: 80%; /* Ajuste conforme necessário */
	transform: translate(-2.5%, -9%);
	z-index:5;
}
.hamburguer_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hamburguer_menu li {
    padding: 10px 20px;
}
.hamburguer_menu li a {
    text-decoration: none;
    color: #333;
}
.hamburguer_menu.show {
    display: block; /* Mostra o menu quando a classe "show" é adicionada */
}
.icon_search {
 	width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url("assets/icons/search.png");
}

.tags_bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
	display: none; /* Esconde o menu por padrão */
	position: absolute;
	background-color: white;
	border: 0px solid black;
	border-radius: 0px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position:absolute;
	right: 40%; /* Ajuste conforme necessário */
	top: 12%; /* Ajuste conforme necessário */
	left: 41%;
	transform: translate(-2.5%, -9%);
	z-index:5;
}
.tags_bar.show {
    display: block; /* Mostra o menu quando a classe "show" é adicionada */
}
.tags_bar .tag{
	cursor: pointer;
}
.tags-input {
    display: flex;
    flex-wrap: wrap; /* Permite que as tags quebrem linha dentro do campo */
    align-items: center;
    padding: 5px; /* Espaço interno */
    border: 1px solid #ccc; /* Borda do campo de entrada */
    border-radius: 20px; /* Arredondamento */
    background-color: white; /* Fundo do campo */
}

.selected-tags {
    display: flex;
    gap: 5px; /* Espaçamento entre as tags */
    flex-wrap: wrap; /* Quebra de linha se necessário */
}

.selected-tag {
    background-color: #e0e0e0; /* Fundo da tag */
    border-radius: 15px; /* Arredondamento */
    padding: 5px 10px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho do texto */
    display: flex; /* Para alinhar o texto e o botão de fechar */
    align-items: center;
    cursor: default;
}

.selected-tag .remove-tag {
    margin-left: 5px; /* Espaço entre o texto e o botão de fechar */
    cursor: pointer;
    font-weight: bold;
    color: #ff0000; /* Cor do botão de fechar */
}

.tags-input input[type="text"] {
    flex-grow: 1; /* O campo de texto ocupa o espaço restante */
    border: none; /* Remove a borda do input */
    outline: none; /* Remove o contorno ao focar */
    font-size: 16px; /* Tamanho do texto */
    padding: 5px; /* Espaço interno */
}

.column {
	float: left;
	width: 50%;
}
.tag_lobinho {

}
